* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(221, 221, 221, .25);
}

html {
    display: flex;
    height: 100%;
}

.center {
    margin: auto;

}

.login-form {
    height: 150px;
    width: 250px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fff;
}

.form .form-item {
    width: 100%;
    position: relative;
}

.form .form-item input {
    padding: .75vh 1vh;
    font-size: 1.5vh;
    line-height: 1.4;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da;
    border-radius: .5vh;
    width: calc(100% - 2vh - 2px);
}

.form .form-actions {}

.form .form-actions .button {
    padding: .5vh 1vh;
    border: 1px solid hsl(210, 6%, 48%);
    background-color: hsl(210, 6%, 48%);
    text-decoration: none;
    font-size: 1.5vh;
    color: #fff;
    border-radius: .3vh;
    cursor: pointer;
    transition: 200ms;
}

.form .form-actions .button:hover {
    border: 1px solid #545b62;
    background-color: #545b62;
}

.text-danger {
    color: #7D002E;
}

.form .form-item span {
    position: absolute;
    bottom: -2vh;
    font-size: 1.5vh;
}

.register-form {
    height: 250px;
    width: 250px;
}

.card-box {
    padding: 2vh 2vh;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: .5vh;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 9vh;
    background-color: #106C57;
    width: 100%;
    box-shadow: 0px 0px 10px #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vh;
    flex-direction: column;
}

footer hr {
    width: 95%;
    background: radial-gradient(#a2a2a2, rgba(221, 221, 221, .25));
    height: 2px;
    border: none;
}

footer div {}

footer #social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

footer #social li:first-child {
    margin-right: 2vh;
}

footer #social li {
    margin-right: 1vh;
}

#facebook a {
    color: #4267b2;
}

#googleplus a {
    color: #dd4d42;
}

#twitter a {
    color: #1da1f2;
}

#copyright a {
    text-decoration: none;
    color: #005C47;
}

#copyright {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

nav .logo {
    font-size: 3vh;
    color: #FFF;
    font-weight: bold;
    font-family: cursive;
    font-style: oblique;
}

section article {
    margin: 4vh 2vh;
    font-size: 1.7vh;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: monospace;
    font-style: italic;
}
section{
    height: calc(100% - 20vh);
    width: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}